body {
  background-color: orange !important;
  margin: 30px;
}

.navbarNav {
  float: right;
}

#search-section {
  margin-top: 3%;
  width: 500px;
}
.nav-text {
  float: right;
  margin-right: 30%;
}
.nav {
  background-color: orange;
}
